{
  "stable": {
    "token": "",
    "prefix": "!",
    "dblToken": "",
    "ksoftapi": "",
    "ADLToken": "",
    "version": "v2.0.0"
  },
  "beta": {
    "token": "",
    "prefix": "/",
    "dblToken": "",
    "ksoftapi": "",
    "ADLToken": "",
    "version": "v2.2.0"
  },
  "sys": {
    "nodes":[{
          "host": "LavalinkHost,
          "password": "LavalinkPassword",
          "port": 1234
      }]
  }
}
