{
  "stable": {
    "token": "",
    "prefix": "!",
    "dblToken": "",
    "ksoftapi": "",
    "ADLToken": "",
    "version": "v2.0.0"
  },
  "beta": {
    "token": "",
    "prefix": "/",
    "dblToken": "",
    "ksoftapi": "",
    "ADLToken": "",
    "version": "v2.2.0"
  },
  "sys": {
    "nodes":[{
          "host": "LavalinkHost,
          "password": "LavalinkPassword",
          "port": 1234
      }],
    "dsn": "sentry.io link for thing",
    "kofi": {
        "webhook": "/donation",
        "port": 124
    },
    "groups": {
      "trusted": ["ID1", "ID2", "ID3"],
      "superTrusted": ["ID1", "ID2", "ID3"]
    }
  }
}
