{
  "stable": {
    "token": null,
    "prefix": "!",
    "dblToken": null,
    "ksoftapi": null,
    "ADLToken": null,
    "version": "v2.0.0"
  },
  "beta": {
    "token": null,
    "prefix": "/",
    "dblToken": null,
    "ksoftapi": null,
    "ADLToken": null,
    "version": "v2.2.0"
  },
  "sys": {
    "nodes":[{
          "host": "LavalinkHost,
          "password": "LavalinkPassword",
          "port": 1234
      }]
  }
}
